amqp
asgiref
attrs
autobahn
Automat
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
crispy-bootstrap5
crispy-tailwind
cryptography
daphne
distlib
dj-database-url
Django
django-allauth
django-channels
django-crispy-forms
django-email
django-environ
django-filter
django-redis
djangorestframework
filelock
gunicorn
hyperlink
idna
incremental
iniconfig
kombu
Markdown
oauthlib
packaging
pillow
pipenv
platformdirs
pluggy
prompt_toolkit
psycopg2
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
pytest
pytest-django
python-dateutil
redis
requests
requests-oauthlib
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
tzdata
urllib3
vine
virtualenv
wcwidth
whitenoise
zope.interface